<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Start of All Footer -->
<div th:fragment="footer" class="container-fluid my-0 mx-0 py-0 px-0">
    <!-- Start of Blue Footer -->
    <div class="footer row">
        <!-- Start of Subscribe email -->
        <div class="col-lg-6">
            <div class="footer-subscribe">
                <h6>Subscribe to our mailing list</h6>
                <p>Get in touch with our latest promotions and events</p>
                <form>
                    <div class="form-group d-flex">
                        <input type="email" class="form-control" id="subEmail" placeholder="Email" aria-describedby="emailHelp">
                        <button class="subscribeBtn">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End of Subscribe Email -->

        <!-- Start of Contact and Location -->
        <div class="col-lg-2 desktop">
            <p>+65 1234 5678</p>
            <p><a href="mailto:hello@take5.com">hello@take5.com</a></p>
            <p><a href="#">FIND A STORE</a></p>
        </div>
        <!-- End of Contact and Location -->

        <!-- Start of Contact Us Footer Links -->
        <div class="col-lg-2 desktop">
            <p><a href="#" data-toggle="modal" data-target="#contactUs">CONTACT US</a></p>
            <p><a href="#">ORDERING & PAYMENT</a></p>
            <p><a href="#">SHIPPING</a></p>
            <p><a href="#">RETURN</a></p>
            <p><a href="#">FAQ</a></p>
        </div>
        <!-- End of Contact Us Footer Links -->

        <!-- Start of About Us Footer Links -->
        <div class="col-lg-2 desktop">
            <p><a th:href="@{about}">ABOUT US</a></p>
            <p><a href="#">WORK WITH US</a></p>
            <p><a href="#">PRIVACY POLICY</a></p>
            <p><a href="#">TERMS & CONDITIONS</a></p>
            <p><a href="#">PRESS ENQUIRIES</a></p>
        </div>
        <!-- End of About Us Footer Links -->
    </div>
    <!-- End of Blue Footer -->

    <!-- Start of Copyright/Social Links -->
    <div class="footer-social row px-5 pt-2">
        <div class="col-lg-6">
            <p>&#169; 2021 Take5</p>
        </div>
        <div class="col-lg-6 text-right desktop">
            <p>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram px-2"></i></a>
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook px-2"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter px-2"></i></a>
                <a href="https://pinterest.com" target="_blank"><i class="fab fa-pinterest px-2"></i></a>
            </p>
        </div>
    </div>
    <!-- End of Copyright/Social Links -->
</div>
<!-- End of All Footer -->

</body>
</html>