<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Icon -->
    <link rel="icon" href="img/Logo_blue_Take5.png">
    <title>Take5 - About</title>
  </head>

  <body>
      <div th:insert="fragments/navbar.html :: navbar"></div>
      <div th:insert="fragments/navbar.html :: contactModal"></div>

    <!-- Start of About Us -->
    <div class="container-fluid p-5 mt-5">
      <!-- Start of About the Team -->
      <div class="row p-1 my-auto">
        <div class="col-lg-6 p-0">
          <img src="img/4stackTeam.jpeg" class="w-100" title="4Stack Group Photo">
        </div>

        <div class="col-lg-6 my-auto">
          <div class="teamIntro">
          <h1>Who is 4stack?</h1>
          <p>
            We are a diverse group of passionate and creative individuals that love what we do.
            Our skills span across Design, Marketing, Event Management, Health & Fitness, and Education.
            <br /><br />
            We are eager to learn and grow professionally!
      
          </p>
          </div>
        </div>
      </div>
      <!-- End of About the Team -->
          
          
      <!-- Start of Individual Bio -->
      <div class="container-fluid p-1 mt-5 pt-5 mb-5">
        <h1 class="text-center pb-5 pt-3">Meet the Team</h1>
          <!-- Start of Row -->
          <div class="row">
            <div class="memberBox col-lg-3"> 
              <div class="memberBoxContent">                 
                <div class="image-side">
                  <img src="img/mavis.jpeg">
                </div>
                <div class="social-side">
                  <h3>Mavis Lim</h3>
                  <b>Full Stack Sorceress</b><br /><br />
                  <p><i class="fas fa-hat-wizard"></i>
                    An adaptative individual experienced in Graphic/Web Design,
                    Corporate Publication, TV Production, and Administration. With a curious mind and a
                    free spirit, Mavis loves exploring new places and activities, solving puzzles, and
                    fixing things together!<br /><br />
                    <i class="fas fa-wrench"></i>She built her own PC within 8 hours on <a href="https://www.twitch.tv/azukera" target="_blank">Twitch</a>!
                  <br /><br />
                  <a href="https://www.linkedin.com/in/mavislimhm/" target="_blank">Let's Connect! <i class="fab fa-linkedin"></i></a></p>
                </div>
              </div>
            </div>
                                
            <div class="memberBox col-lg-3"> 
              <div class="memberBoxContent">                 
                <div class="image-side">
                  <img src="img/daniel.jpeg">
                </div>
                <div class="social-side">
                  <h3>Daniel Ang</h3>
                  <b>Curious Coder</b><br /><br />
                  <p><i class="fas fa-music"></i>
                    Being in the entrepreneurship space for more than 5 years,
                    Daniel’s strong passion in the technology sector has him involved with several
                    startups. He is also an outgoing, sociable music junkie! <br /><br />
                    <i class="fas fa-pepper-hot"></i>
                    He was hospitalised for taking up a spicy pasta challenge, <b>HE DIDN’T REGRET IT!</b>
                    <br /><br />
                    <a href="https://www.linkedin.com/in/danielangwaykit/" target="_blank">Let's Connect! <i class="fab fa-linkedin"></i></a></p>
                </div>
              </div>
            </div>   
                          
            <div class="memberBox col-lg-3"> 
              <div class="memberBoxContent">                 
                <div class="image-side">
                  <img src="img/jairus.jpeg">
                </div>
                <div class="social-side">
                  <h3>Jairus Sim</h3>
                  <b>Full Stack Padawan</b><br /><br />
                  <p><i class="fas fa-journal-whills"></i>
                    With a collective experience of up to 10 years in recruitment and entrepreneurship,
                    Jairus aspires to take his career to greater heights through technology. With his project management
                    capabilities and software development skills, he is definitely
                    a strong integral part of the team.<br /><br />
                    <i class="fas fa-jedi"></i>He is a Star Wars geek! <b>MAY THE FORCE BE WITH YOU.</b>
                    <br /><br />
                    <a href="https://www.linkedin.com/in/jairusimgsg/" target="_blank">Let's Connect! <i class="fab fa-linkedin"></i></a></p>
                </div>
              </div>
            </div>  
            
            <div class="memberBox col-lg-3"> 
              <div class="memberBoxContent">                 
                <div class="image-side">
                  <img src="img/irfan.jpeg">
                </div>
                <div class="social-side">
                  <h3>Irfan</h3>
                  <b>“Diva”-looper</b><br /><br />
                  <p><i class="fas fa-file-medical"></i>
                    With a health and fitness background, Irfan was an ex-specialist for stroke patients
                    and a sports science professional. His tenacity in this healthcare industry has encouraged him
                    to expand his horizon towards the technology sector.<br /><br />
                    <i class="fas fa-swimmer"></i>You have to teach him how to swim!
                    <br /><br />
                    <a href="https://www.linkedin.com/in/mohamed-irfan-59410520b/" target="_blank">Let's Connect! <i class="fab fa-linkedin"></i></a></p>
                </div>
              </div>
            </div>

          </div>
          <!-- End of Row --> 
      </div>
      <!-- End of Individual Bio -->  
    </div>
    <!-- End of About Us -->

    <!-- Footer -->
    <div th:insert="fragments/footer.html :: footer"></div>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Add Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- Add FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/5704215aa3.js" crossorigin="anonymous"></script>

  </body>
</html>